body{

margin:0;

background:#f7f3eb;

color:#2f2f2f;

font-family:'Lora', serif;

text-align:center;

}

header{

padding:60px 20px;

}

h1{

font-family:'Cormorant Garamond', serif;

font-size:60px;

margin:0;

}

p{

font-size:20px;

line-height:1.8;

}

.hero{

max-width:800px;

margin:auto;

padding:40px;

}

.botao{

display:inline-block;

margin-top:30px;

padding:15px 35px;

background:#284B63;

color:white;

text-decoration:none;

border-radius:8px;

transition:.3s;

}

.botao:hover{

background:#18374d;

}

.biblioteca{

max-width:800px;

margin:auto;

padding:40px;

display:flex;

flex-direction:column;

gap:20px;

}

.categoria{

background:white;

padding:20px;

border-radius:10px;

text-decoration:none;

color:#2f2f2f;

font-size:22px;

box-shadow:0 5px 15px rgba(0,0,0,.08);

transition:.3s;

}

.categoria:hover{

transform:translateY(-4px);

}

footer{

margin-top:80px;

padding:30px;

opacity:.6;

}
.poema{

max-width:800px;

margin:auto;

padding:50px;

text-align:left;

line-height:2;

}

.poema h2{

text-align:center;

font-size:48px;

margin-bottom:40px;

font-family:'Cormorant Garamond', serif;

}

.texto{

white-space:pre-line;

font-size:22px;

}